.white {
    color: white;
}

.nav-item {
    margin-left: 15px;
}
@media screen and (max-width: 530px){
    .nav-item {
    margin-left: 0;
}
}

.container-fluid {
    height: 100vh;
    background: aliceblue;
}

.no-padding {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.app-card {
    margin-top: 100px;
    max-width: 30rem;
    min-height: 200px;
}

.game-card {
    margin: auto;
    margin-top: 20px;
    padding: 10px;
}
